<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>Congratulations! Your registration has been completed.</strong><br/>
  Registration #<strong><%= @registration.id %></strong>
</p>
<% if @downloadable -%>
<p>
  <strong>Note,</strong> the link to document will expire soon.<br/>
  <%= link_to "Download", @document_url, target: "_blank" %>
</p>
<% end -%>
