<h1>Listing posters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posters.each do |poster| %>
      <tr>
        <td><%= poster.name %></td>
        <td><%= poster.price %></td>
        <td><%= link_to 'Buy', new_registration_path(sku: poster.sku) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
