body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 1em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #cf4848;
  color: white;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    margin-left: 1em;
  }
}

.inline-error {
    background-color: #f2dede;
    margin: 0.5em 0;
    padding-left: 0.5em;
}

.notice {
  background-color: #BEE8DD;
  padding: 2px 6px;
  text-align: center;
}

.warning {
  background-color: #E5D683;
  padding: 2px 6px;
  text-align: center;
}

.error {
  background-color: #D85C3D;
  padding: 2px 6px;
  text-align: center;
}

.buy:hover {
  background-color: inherit;
}
